<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container"></div>
<h1 class="m-3">All Courts</h1>

<% for (let court of courts){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(court.images.length){ %> 
                <img class="img-fluid" alt="" src="<%=court.images[0].url%>">
            <% } else { %>
                <img class="img-fluid" alt="" src="https://res.cloudinary.com/dxra6ljas/image/upload/v1672666832/CourtSpot/justus-menke-bWDXFaBTnL8-unsplash_kzgevt.jpg">
            <% } %> 
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= court.title %> </h5>
                <p class="card-text"><%= court.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= court.location%></small>
                </p>
                <a class="btn btn-primary" href="/courts/<%=court._id%>">View <%=court.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const courts =  {features: <%- JSON.stringify(courts) %> };
</script>
<script src="/javascripts/clusterMap.js"></script>